body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  color: #404040;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
.container .row {
	border-top: 2px solid #8bc34a;
	padding-top:20px;
}
.container .row ul li {
  font-size: 16px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 
    inset 0 0 0 1px rgba(255,255,255,0.1),
    0px 0px 1px rgba(0,0,0,0.1);
}
.container .row ul li:hover {
  padding:2px;
  box-shadow: 
  inset 0 0 0 3px rgba(255,255,255,0.1),
  0px 3px 3px rgba(0,0,0,0.4);
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  transform: rotateY(180deg);
}
#about-title{
	border: 2px solid;
	color:white;
}
a:hover,
a:focus {
  color: #0085a1;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}
.googleplus {
  color:  #d34836;
}
.googleplus:hover,
.googleplus:focus {
  font-size: 28px;
  color:  #d34836;
}
.wechat {
  color: #0c0;
}
.wechat:hover,
.wechat:focus {
  font-size: 28px;
  color: #0c0;
}
.linkedin {
  color: #007bb6;
}
.linkedin:hover,
.linkedin:focus {
  font-size: 28px;
  color: #007bb6;
}
.facebook{
  color: #335795;
}
.facebook:hover,
.facebook:focus {
  color: #335795;
  font-size: 28px;
}
.github{
  color: #b100f3;
}
.github:hover,
.github:focus {
  color: #b100f3;
  font-size: 28px;
}
.udacity{
  color: #ff8000;
}
.udacity:hover,
.udacity:focus {
  color: #ff8000;
  font-size: 28px;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
blockquote {
  color: #808080;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
  animation: display-small 1s ease-out;
}
@keyframes display-small {
  0%{
    max-width:0px;
    opacity: 0;
  }

  100%{
    max-width: 100px;
    opacity: 1;
  }
}
/*----start-nav----*/

.navbar-custom {
  margin-bottom: 0px;
  background:#8bc34a;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    border: 2px solid;
    border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 0, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 10px;
    margin: 10px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 0, 0.8);
    border: 2px solid;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085a1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085a1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
/*----start-about----*/
.about{
	padding:3em 0;
}
.about-head{
	text-align: center;
}
.about-head h1{
	font-weight: 900;
	font-size: 2.2em;
	color: #222222;
	text-transform: uppercase;
}
.about-head span{
	width: 8%;
	height: 1px;
	background: #35C2F8;
	display: inline-block;
}
.about-head ul{
	padding-left: 0px;
	vertical-align: middle;
}
.about-head ul li{
	display:inline;
	font-size: 1.5em;
	font-weight: 500;
}
.about-head ul i{
	margin: 0 10px 0 10px;
	vertical-align: middle;
}
/*--about-time-line--*/
.about-time-line{
	padding: 0;
	list-style: none;
	position: relative;
	width: 60%;
	margin: 4em auto 9em;
}
.about-time-line li{
	display: inline;
	min-height: 300px;
}
.about-time-line:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3px;
	background: #F1F1F1;
	left: 49%;
	margin-left: -10px;
}
.about-time-line > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
}
.about-time-line > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #3594cb;
}
.about-time-line > li .cbp_tmtime span {
	display: block;
	text-align: right;
}
.about-time-line > li .cbp_tmicon,.cbp_tmicon1,.cbp_tmicon2,.cbp_tmicon3,.cbp_tmicon2,.cbp_tmicon4{
	width: 170px;
	height: 170px;
	speak: none;
	font-size: 1.2em;
	line-height: 40px;
	position: absolute;
	color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #F1F1F1;
	-webkit-box-shadow: 0 0 0 8px #F1F1F1;
	-moz-box-shadow: 0 0 0 8px #F1F1F1;
	-o-box-shadow: 0 0 0 8px #F1F1F1;
	text-align: center;
	left: 41%;
	top: 0;
	margin: 0 0 0 -25px;
	display:block;
}
.cbp_tmicon1{
	left: 41%;
	top: 27%;
}
.cbp_tmicon2{
	left: 41%;
	top: 52%;
}
.cbp_tmicon3{
	left: 41%;
	top: 77%;
}
.cbp_tmicon4{
	left: 41%;
	top: 100%;
}
.img1{
	background:url(../images/time-line-img.jpg) no-repeat;
	background-size: 100% 100%;
}
.img2{
	background:url(../images/time-line-img1.jpg) no-repeat;
	background-size: 100% 100%;
}
.img3{
	background:url(../images/time-line-img2.jpg) no-repeat;
	background-size: 100% 100%;
}
.img4{
	background:url(../images/time-line-img4.jpg) no-repeat;
	background-size: 100% 100%;
}
.img5{
	background:url(../images/time-line-img5.jpg) no-repeat #7CC576;
	background-size: 100% 100%;

}
.about-time-line > li .cbp_tmlabel {
	margin: 0 0 0px -8%;
	color: #fff;
	padding: 1em 0em 0em 0;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
	width: 40%;
	text-align: right;
	min-height: 250px;
}
.about-time-line > li .cbp_tmlabel1 {
	margin: 0 0 15px 64%;
	text-align: left;
}
.about-time-line > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #6cbfee;
}
.cbp_tmlabel h2{
	color: #222222;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8em;
}
.cbp_tmlabel p{
	color: #777777;
	line-height: 1.6em;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.72em;
	margin-top: 0.8em;
}

/*----start-footer----*/
footer .copyright {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}
footer p{
	margin:15px;
}

/*----*/
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article img {
	max-width: 16%;
	width: auto;
	height: auto;
	display:block;
	border-radius: 50%;
}
/* Default Skin */
.wmuSliderPagination {
	z-index: 2;
	position: absolute;
	right:46%;
	bottom:35px;
}
ul.wmuSliderPagination {
	padding:0;
}
.wmuSliderPagination li {
	float: left;
	margin: 0 8px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	text-indent: -9999px;
	display: block;
	width: 30px;
	height: 5px;
	margin: 5px 6px;
	background:#171918 ;	
}
.wmuSliderPagination a.wmuActive {
	background:#f8d62e;
}
.design{
	background:url(../images/bg.jpg) 0px 0px no-repeat;
	width:100%;
	min-height:400px;
	background-size:cover;
	display:block;
	padding:4em 0;
}
.item-in{
	text-align:center;
	padding:2em 0 6em;
}
.item-in p{
	font-size: 1.8em;
	color: #e2e2e2;
	width: 50%;
	margin: 0 auto;
	font-weight: 300;
	line-height: 1.3em;
	padding: 1.2em 0 0.6em;
}
.item-in span{
	font-size:1.3em;
	color:#8bc34a;
}
.dotted{
	margin:0 auto;
}

/*--responsive media-quries--*/
@media(max-width:1440px){
	.wmuSliderPagination {
		right: 40%;
	}
}
@media (max-width:1024px){
	.about-time-line > li .cbp_tmlabel {
		width: 55%;
		margin: 0% 0 0px -23%;
	}
	.about-time-line > li .cbp_tmlabel1 {
		margin: 0 0 15px 70%;
	}
	.about-time-line:before {
		left: 52%;
	}
	.wmuSliderPagination {
		right: 36%;
	}
	.item-in p{
		font-size: 1.6em;
	}
}
@media (max-width:768px){
	.about-time-line > li .cbp_tmlabel {
		width: 56%;
		margin: 0% 100% 0px 35%;
		text-align: left;
	}
	.about-time-line > li .cbp_tmlabel1 {
		margin: 0 0 15px 35%;
	}
	.about-time-line:before {
		left: 19.5%;
	}
	.about {
		padding: 1em 0 10em;
	}
	.about-time-line {
		width: 100%;
		margin: 0;
	}
	.about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
		left: 10%;
	}
	.item-in p{
		font-size: 1.4em;
	}
	.item-in span{
		font-size: 1.0em;
	}
	.wmuSlider .wmuSliderWrapper article img {
		max-width: 20%;
	}
	.wmuSliderPagination {
		right: 30%;
	}
}
@media (max-width:640px){
	.about-time-line > li .cbp_tmlabel {
		width: 54%;
		margin: 0% 100% 0px 37%;
		text-align: left;
	}
	.about-time-line > li .cbp_tmlabel1 {
		margin: 0 0 15px 35%;
	}
	.about-time-line:before {
		left: 19.5%;
	}
	.about {
		padding: 1em 0 14em;
	}
	.about-time-line {
		width: 100%;
		margin: 0;
	}
	.about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
		left: 10%;
		width: 140px;
		height: 140px;
	}
	.item-in p{
		font-size: 1.2em;
	}
	.wmuSlider .wmuSliderWrapper article img {
		max-width: 25%;
	}
	.wmuSliderPagination {
		right: 26%;
	}
}
@media (max-width:480px){
	.about-time-line > li .cbp_tmlabel {
		width: 54%;
		margin: 0% 100% 0px 37%;
		text-align: left;
	}
	.about-time-line > li .cbp_tmlabel1 {
		margin: 0 0 15px 35%;
	}
	.about-time-line:before {
		left: 19.5%;
	}
	.about {
		padding: 1em 0 14em;
	}
	.about-time-line {
		width: 100%;
		margin: 0;
	}
	.about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
		left: 10%;
		width: 120px;
		height: 120px;
	}
	.about-head h1 {
		font-size: 2.0em;
	}
	.item-in p{
		font-size: 1.0em;
	}
	.wmuSlider .wmuSliderWrapper article img {
		max-width: 28%;
	}
	.wmuSliderPagination {
		right: 20%;
	}
}
@media (max-width:320px){
	.about-time-line > li .cbp_tmlabel {
		width: 62%;
		margin: 0% 100% 0px 32%;
		text-align: left;
	}
	.about-time-line > li .cbp_tmlabel1 {
		margin: 0 0 15px 35%;
	}
	.about-time-line:before {
		left: 16%;
	}
	.about {
		padding: 1em 0 14em;
	}
	.about-time-line {
		width: 100%;
		margin: 0;
	}
	.about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
		left: 10%;
		width: 70px;
		height: 70px;
	}
	.about-head h1 {
		font-size: 1.6em;
	}
	.wmuSliderPagination {
		right: 15%;
	}
}
